* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #333;
  --color-primary: #6a59cc;
  --color-accent: #289ea7;
  --color-primary-bg: #eae8f8;
  --color-primary-bg-faded: #eae8f85e;
  --color-accent-bg-faded: #80d0d629;
  --color-border: #e5e5e5;
  --table-border-radius: 1.345vw;
}

html {
  font-family: "proxima-nova";
}

body {
  padding: 2.689vw;
  display: flex;
  flex-direction: column;
  gap: 3.025vw;
  color: var(--color-text);
  padding-bottom: 0;
  position: relative;
}

.section-header {
  font-size: 2.017vw;
  line-height: 1.25;
  padding-bottom: 0.672vw;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-primary);
  border-bottom: 0.336vw solid currentColor;
}

/* ***************************************************
   *    TABLE 
   *************************************************** */

.monthly-report-table {
  border-collapse: collapse;
  border-radius: 1.345vw;
  width: 51.429vw;
}

.monthly-report-table th {
  background: var(--color-text);
  color: white;
  font-size: 1.849vw;
  line-height: 1.54;
  font-weight: 600;
  padding: 1.008vw 1.681vw;
  text-align: left;
}

.monthly-report-table th:first-child {
  width: 61.5%;
}

.monthly-report-table td {
  padding: 1.008vw 1.681vw;
  font-size: 1.681vw;
  line-height: 1.5;
  background-color: white;
}

.monthly-report-table__label div {
  display: flex;
  align-items: center;
  gap: 0.672vw;
}

.monthly-report-table__label-dot {
  width: 1.345vw;
  height: 1.345vw;
  border-radius: 100%;
  background-color: var(--color-text);
}

.monthly-report-table__data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.672vw;
}

.monthly-report-table__data-sub {
  font-size: 1.008vw;
  line-height: 1.5;
}

.monthly-report-table tr:first-child th:first-child,
.monthly-report-table tr:first-child td:first-child {
  border-top-left-radius: var(--table-border-radius);
}

.monthly-report-table tr:first-child th:last-child,
.monthly-report-table tr:first-child td:last-child {
  border-top-right-radius: var(--table-border-radius);
}

.monthly-report-table tr:last-child th:first-child,
.monthly-report-table tr:last-child td:first-child {
  border-bottom-left-radius: var(--table-border-radius);
}

.monthly-report-table tr:last-child th:last-child,
.monthly-report-table tr:last-child td:last-child {
  border-bottom-right-radius: var(--table-border-radius);
}

/* ***************************************************
   *    HEADER 
   *************************************************** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.017vw;
  padding-bottom: 2.689vw;
  width: 100%;
  border-bottom: 0.672vw solid var(--color-primary);
}

.header__title {
  display: flex;
  flex-direction: column;
  gap: 0.336vw;
}

.header__title--report {
  font-size: 3.361vw;
  line-height: 1.2;
  font-weight: 600;
}

.header__title--company {
  font-size: 1.681vw;
  line-height: 1.2;
}

.header__logo {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 0.672vw;
}

.header__logo-gk {
  width: 14.454vw;
}

.header__logo--date {
  font-size: 2.017vw;
  line-height: 1.25;
  font-weight: 800;
  color: var(--color-primary);
}

/* ***************************************************
   *    Overview 
   *************************************************** */

.overview {
  display: flex;
  flex-direction: column;
  gap: 1.008vw;
}

.overview__cards {
  background: var(--color-primary-bg);
  padding: 2.353vw 1.681vw;
  border-radius: 1.345vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.008vw;
}

.overview__card {
  display: flex;
  flex-direction: column;
  padding: 1.345vw 1.681vw;
  gap: 1.345vw;
  background: white;
  border-radius: 0.672vw;
}

.overview__card-title {
  font-size: 1.765vw;
  line-height: 1.238;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-primary);
}

.overview__card-data {
  display: flex;
  align-items: center;
  gap: 1.176vw;
  font-size: 3.025vw;
  line-height: 1.22;
  font-weight: 500;
}

.overview__card-data img {
  width: 3.361vw;
  height: 3.361vw;
}

/* ***************************************************
   *    CLAIMS 
   *************************************************** */

.claims {
  display: flex;
  flex-direction: column;
  gap: 1.681vw;
}

.claims-section {
  display: flex;
  flex-direction: column;
  gap: 2.017vw;
}

/* ***************************************************
   *    CLAIMS BY CATEGORIES 
   *************************************************** */

.claim-by-category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.723vw;
  border-radius: 1.345vw;
  padding: 1.681vw 1.008vw;
  background: var(--color-primary-bg-faded);
}

.claim-by-category-table th {
  background-color: var(--color-primary);
}

.claim-by-category-table tr:nth-child(2) .monthly-report-table__label-dot {
  background-color: #5e3fbe;
}

.claim-by-category-table tr:nth-child(3) .monthly-report-table__label-dot {
  background-color: #a88deb;
}

.claim-by-category-table tr:nth-child(4) .monthly-report-table__label-dot {
  background-color: #cbb6f8;
}

.claim-by-category-table tr:nth-child(5) .monthly-report-table__label-dot {
  background-color: #f4f0fd;
}

.claim-by-category-table tr:nth-child(6) .monthly-report-table__label-dot {
  background-color: #e5dafb;
}

/* ***************************************************
   *    CLAIMS BY DESIGNATIONS 
   *************************************************** */

.claim-by-designation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.723vw;
  border-radius: 1.345vw;
  padding: 1.681vw 1.008vw;
  background: var(--color-accent-bg-faded);
}

.claim-by-designation-table th {
  background-color: var(--color-accent);
}

.claim-by-designation-table tr:nth-child(2) .monthly-report-table__label-dot {
  background-color: #16585d;
}

.claim-by-designation-table tr:nth-child(3) .monthly-report-table__label-dot {
  background-color: #289ea7;
}

.claim-by-designation-table tr:nth-child(4) .monthly-report-table__label-dot {
  background-color: #80d0d6;
}

.claim-by-designation-table tr:nth-child(5) .monthly-report-table__label-dot {
  background-color: #eaf7f8;
}

.claim-by-designation-table tr:nth-child(6) .monthly-report-table__label-dot {
  background-color: #c0e7ea;
}

/* ***************************************************
   *    REPORT GENERATED AT 
   *************************************************** */

.generated-at {
  position: absolute;
  bottom: 3.361vw;
  font-size: 1.092vw;
  right: 3.361vw;
}

/* ***************************************************
   *    CHART
   *************************************************** */

.chart {
  width: 27.602vw;
  height: 27.602vw;
}
